
    <!-- footer -->
    <footer class="pt-7 pt-md-10 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-xs-12">
            <a class="d-inline-block mb-6" href="{{ path('app_default_index') }}">
                <h1>{{ common_ground_service.getApplication.name }}</h1>
            </a>
            <p class="text-muted pt-1 pb-3"> {{ common_ground_service.getApplication.description }} </p>
            <ul class="list-unstyled text-muted">
              <li class="mb-3">
                <i class="fa fa-phone mr-3" aria-hidden="true"></i>
                <a class="text-muted" href="tel:+088-657-524-332">+88 657 524 332</a>
              </li>
              <li class="mb-3">
                <i class="fa fa-envelope mr-3" aria-hidden="true"></i>
                <a class="text-muted" href="mailto:info@listy.com">info@listy.com</a>
              </li>
            </ul>
          </div>

		 {% if common_ground_service.getApplication.defaultConfiguration is defined and common_ground_service.getApplication.defaultConfiguration.configuration.menuFooter1 %}
		 {% set menu = commonground_resource(common_ground_service.getApplication.defaultConfiguration.configuration.menuFooter1)  %}
          <div class="col-sm-3 col-xs-12">
            <div class="mb-4 mt-4 mt-md-0">
              <h2 class="h4">{{ menu.name }}</h2>
            </div>                
            <ul class="list-unstyled list-gray">
             {% for item in menu.menuItems %}
              <li class="mb-3">
                <a href="{{ path( item.href ) }}">{{ item.name }}</a>
              </li>
              {% endfor %}

            </ul>
          </div>
         {% endif %}

		 {% if  common_ground_service.getApplication.defaultConfiguration is defined and common_ground_service.getApplication.defaultConfiguration.configuration.menuFooter2 %}
		 {% set menu = commonground_resource(common_ground_service.getApplication.defaultConfiguration.configuration.menuFooter2)  %}
          <div class="col-sm-2 col-xs-12">
            <div class="mb-4 mt-4 mt-md-0">
              <h2 class="h4">{{ menu.name }}</h2>
            </div>                
            <ul class="list-unstyled list-gray">
             {% for item in menu.menuItems %}
              <li class="mb-3">
                <a href="{{ path( item.href ) }}">{{ item.name }}</a>
              </li>
              {% endfor %}

            </ul>
          </div>
         {% endif %}          
          
        </div>

        <hr>

        <div class="row pb-md-6">

          <div class="col-sm-7 col-xs-12 align-self-center order-3 order-md-0">
            <p class="copy-right mb-0 pb-4 pb-md-0">
              Copyright &copy; {{ "now"|date("Y") }}. All Rights Reserved by
              <a href="http://www.conduction.nl/" target="_blank"> Conduction</a>
            </p>
          </div>

          <div class="col-sm-5 col-xs-12 d-flex align-items-center">
            <div class="ml-md-auto mx-auto mx-md-0 mt-3 mb-5 my-md-0">
              <a class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ml-2" href="#facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ml-2" href="#twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ml-2" href="#pinterest">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
              <a class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ml-2" href="#linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </footer>
