<!-- HEADER -->
<header class="header">
    <nav class="nav-menuzord navbar-sticky">
        <div class="container clearfix">
            <div id="menuzord" class="menuzord menuzord-responsive">

                <a href="{{ path('app_default_index') }}" class="menuzord-brand">
                    <h1>{{ common_ground_service.getApplication.name }}</h1>
                </a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% include 'widgets/menu_user.html.twig' %}
                {% else %}
                <div class="float-right btn-wrapper">

                    <a class="btn btn-outline-primary" href="{{ path('app_user_login' ) }}">+
                        <span>Login or Join</span></a>

                </div>

                {% if order is defined and order is not empty %}

                <div class="float-right btn-wrapper">
                    <a href="#shoppingCart" data-toggle="modal" data-target="#shoppingCart">
                        <i style="font-size: 32px; color: #2196f3;" class="fa fa-shopping-cart pt-1 pr-5"></i>
                    </a>
                </div>
                {% endif %}

                {% endif %}

                <ul class="menuzord-menu menuzord-right">
                    {% if  common_ground_service.getApplication.defaultConfiguration is defined and common_ground_service.getApplication.defaultConfiguration.configuration.larpingUi %}
                        {% set menu = commonground_resource(common_ground_service.getApplication.defaultConfiguration.configuration.larpingUi.menuPrimary) %}
                        {% for item in menu.menuItems %}
                            <li class="">
                                <a href="{{ path( item.href ) }}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

{% if order is defined and order is not empty %}

<div class="modal fade show" style="text-align: center" id="shoppingCart" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Shopping cart</b></h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                <div class="payment-summary">
                    <div class="bg-white">

                        <table class="table table-hover text-align-center">
                            <thead>
                            <tr>
                                <th class="sum-first-child">Product</th>
                                <!--
                                <th>Aantal</th> -->
                                <th>Prijs</th>
                            </tr>
                            </thead>
                            {% set total = 0 %}
                            {% for offer in offers %}
                                {% set total = total + commonground_resource(offer).price %}
                                <tr>
                                    <td class="sum-first-child"><b>{{ commonground_resource(offer).name }}</b>{% if commonground_resource(offer).products|length > 1 %}<br/>
                                        Bevat:{% for product in commonground_resource(offer).products %}{{ product.name }}{% endfor %}{% endif %}
                                    </td>
                                    <!-- <td>1</td> -->
                                    <td>&euro; {{ commonground_resource(offer).price/100 }},-</td>
                                </tr>
                            {% endfor %}
                            <tfoot>
                            <tr>
                                <!-- <td></td>-->
                                <td style="text-align: right"><b>Totaal:</b></td>
                                <td style="color: black"><b>&euro; {{ total/100 }},-</b></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
